{% extends "base.html" %}
{% block title %}Cadastro{% endblock %}

{% block content %}
{% import 'partials/_form_field.html' as form_fields %}
{% import 'partials/_buttons.html' as buttons %}

<div
  x-data="{ loading: false }"
  class="max-w-md sm:max-w-lg md:max-w-xl mx-auto bg-white dark:bg-gray-800 shadow-md rounded px-6 sm:px-8 py-6 mt-10"
>
  <h1 class="text-2xl sm:text-3xl font-bold mb-6 text-center text-gray-800 dark:text-gray-100">Cadastrar</h1>

  {% include 'partials/_flash_messages.html' %}

  <form method="POST" action="{{ url_for('auth.register') }}" @submit="loading = true" novalidate>
    {{ form.hidden_tag() }}

    <div class="w-full sm:w-64 mx-auto">
      {{ form_fields.render_field(form.username, label='Usuário', placeholder='Digite seu nome de usuário', autocomplete='username', autofocus=true) }}
      {{ form_fields.render_field(form.email, label='Email', type='email', placeholder='Digite seu e-mail', autocomplete='email') }}
      {{ form_fields.render_field(form.password, label='Senha', type='password', placeholder='Crie uma senha', autocomplete='new-password') }}
      {{ form_fields.render_field(form.confirm_password, label='Confirmar senha', type='password', placeholder='Confirme sua senha', autocomplete='new-password') }}
    </div>

    <!-- BOTÃO DE CADASTRO -->
    <div class="w-full sm:w-64 mx-auto mt-6">
      {{ buttons.render_button(
          text='Cadastrar',
          icon='user-check',
          type='submit',
          loading="loading",
          loading_text='Cadastrando..',
          classes='w-full px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white font-semibold
            rounded focus:outline-none focus:ring-2 focus:ring-blue-300 transition-colors duration-200'
        ) 
      }}
    </div>
  </form>

  <p class="flex justify-center items-center gap-4 text-sm mt-4 text-center text-gray-700 dark:text-gray-300">
    <span class="font-semibold">Já tem uma conta?</span>
    {{ buttons.render_button(
      text='Faça login',
      href=url_for('auth.login'),
      icon='log-in',
      classes='border border-blue-600 text-blue-600 hover:bg-blue-600
        hover:text-white px-4 py-2 rounded font-semibold text-sm sm:text-base
        focus:outline-none focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-500
        dark:border-blue-500 dark:text-blue-400 dark:hover:bg-blue-500 dark:hover:text-white'
    ) }}
  </p>
</div>
{% endblock %}
