# Ambientes virtuais
venv/
.env.dev
.env.prod
*.env

# Bytecode do Python
__pycache__/
*.py[cod]
*$py.class

# Banco de dados local
*.sqlite3
*.db

# Arquivos de log
*.log

# Arquivos de sistema
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Arquivos de build do Tailwind ou outras ferramentas
!static/css/output.css
static/css/*.map
node_modules/
dist/

# Arquivos de cache do Flask
instance/
*.pid

# Arquivos temporários
*.bak
*.swp
*.tmp

# Pytest e cobertura de testes
.pytest_cache/
htmlcov/
coverage.xml

# __pycache__ ou arquivos gerados por migrações temporárias
migrations/__pycache__/