{% extends "base.html" %}

{% block title %}Página não encontrada{% endblock %}

{% import "partials/_buttons.html" as buttons %}

{% block content %}
<div class="p-6 text-center">
    <h1 class="text-3xl font-bold text-yellow-500">404 - Página não encontrada.</h1>
    <p class="mt-4">Desculpa, a página que você está tentando acessar não foi encontrada.</p>
    {{ buttons.render_button(
        text='Voltar para home',
        href=url_for('main.home'),
        icon='arrow-left',
        classes='mt-4 bg-indigo-600 text-white px-4 py-2 rounded'
    ) }}
</div>
{% endblock %}