{% import 'partials/_form_field.html' as forms %}
{% import 'partials/_buttons.html' as buttons %}

<form
    action="{{ actions_url }}"
    method="POST"
    class="bg-gray-100 dark:bg-gray-700 border border-blue-500 dark:border-gray-300 p-4 rounded shadow">
    
    {{ form.hidden_tag() }}

    {{ forms.render_field(form.medication_id, label='Medicamento') }}
    {{ forms.render_field(form.time, label='Horário') }}
    {{ forms.render_field(form.frequency, label='Frequência') }}

    <div class="mb-4">
        {{ form.active() }} {{ form.active.label }}
    </div>

    <div class="flex flex-col md:flex-row items-stretch md:items-center justify-between gap-4 mt-4" x-data="{ loading: false }">
        {{ buttons.render_button(
            text='Salvar lembrete',
            type='submit',
            icon='alarm-plus',
            classes='bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 w-full md:w-auto'
        ) }}
    
        {{ buttons.render_button(
            text='Cancelar',
            href=url_for('medication.reminders'),
            icon='x-circle',
            classes='bg-red-500 font-semibold text-gray-800 px-4 py-2 rounded hover:bg-red-600 w-full md:w-auto'
        ) }}
    </div>

</form>