<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Controle de Medicamentos{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='../static/css/output.css') }}"
    />
  </head>
  <body
    class="bg-gray-100 text-gray-800 flex items-center justify-center min-h-screen"
  >
    <div class="w-full max-w-md px-4">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <div class="space-y-2 mb-6">
        <div
          class="p-3 text-sm text-white rounded shadow bg-{{ 'red' if category == 'danger' else 'green' if category == 'success' else 'yellow' }}-500"
        >
          {{ message }}
        </div>
      </div>
      {% endif %} {% endwith %} {% block content %}{% endblock %}
    </div>
  </body>
</html>
