{% extends "base.html" %} {% block title %} Dashboard {% endblock %} {% block
content %}

<div
  class="max-w-md sm:max-w-lg md:max-w-2xl mx-auto bg-white shadow-md rounded px-6 sm:px-8 py-8 text-center mt-10"
>
  <h1 class="text-2xl sm:text-3xl font-bold mb-4">
    Bem-vindo, {{ current_user.name }}
  </h1>

  <p class="mb-6 text-gray-700 text-sm sm:text-base">
    Aqui está o seu painel de controle de medicamentos.
  </p>

  <div class="flex flex-col gap-4 sm:flex-row sm:justify-center sm:gap-6">
    <a
      href="{{ url_for('register_medication') }}"
      class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700 text-sm sm:text-base"
    >
      Registrar medicação
    </a>
    <a
      href="{{ url_for('view_history') }}"
      class="bg-gray-600 text-white py-2 px-4 rounded hover:bg-gray-700 text-sm sm:text-base"
    >
      Ver histórico de registros
    </a>
    <a
      href="{{ url_for('auth.logout') }}"
      class="bg-red-600 text-white py-2 px-4 rounded hover:bg-red-700 text-sm sm:text-base"
    >
      Sair da conta
    </a>
  </div>
</div>
{% endblock %}
