{% extends "base.html" %} {% block title %}Logout{% endblock %} {% block content
%}
<div
  class="max-w-md sm:max-w-lg md:max-w-xl mx-auto bg-white shadow-md rounded px-6 sm:px-8 py-6 text-center mt-10"
>
  <h1 class="text-2xl sm:text-3xl font-bold mb-4">Sessão encerrada!</h1>
  <p class="mb-6 text-gray-700">Você saiu da sua conta com sucesso.</p>
  <a
    href="{{ url_for('auth.login') }}"
    class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 text-sm sm:text-base"
  >
    Fazer login novamente.
  </a>
</div>
{% endblock %}
